.headerMoviesList {
    display: flex;
    background: beige;
    border: 2px solid darksalmon;
}

.headerMoviesList > img {
    margin: 20px 20px 20px 20px;
    width: 400px;
}

.headerMoviesList > input {
    margin: 20px 20px 20px 200px;;
    width: 300px;
    height: 20px;
}

.headerMoviesList > button {
    margin: 50px 20px 100px 100px;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 15px;
    padding: 5px;
    height: 40px;
}

.movies {
    border: 2px solid greenyellow;
    width: 100%;
}

