.headerMoviesList {
    display: flex;
}

.headerMoviesList > img {
    margin: 20px 20px 20px 20px;
    width: 300px;
}

.headerMoviesList > input {
    margin: 20px 20px 20px 200px;;
}

.headerMoviesList > form {
    margin-top: 50px;
    margin-left: 150px;
}

.headerMoviesList > form > input {
    width: 320px;
}

.butToggle {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 antiquewhite;
    justify-content: left;
    background-color: white;
    padding: 5px;
    border: none;
    color: darkslategray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 5px;
    border: none;
    color: darkslategray;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.light {
    background: linear-gradient(to right, whitesmoke, antiquewhite);
}

.dark {
    background: radial-gradient(lavender, dimgray, black);
}

.form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.ava {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
}

.avaUser {
    margin-top: 1%;
    margin-left: 20%;
}