.headerMoviesList {
    display: flex;
}

.headerMoviesList > img {
    margin: 20px 20px 20px 20px;
    width: 400px;
}

.headerMoviesList > input {
    margin: 20px 20px 20px 200px;;
    width: 300px;
    height: 20px;
}

.headerMoviesList > button {
    margin: 50px 20px 100px 100px;
    background: white;
    color: black;
    border-radius: 5%;
    padding: 5px;
    height: 40px;
}

.headerMoviesList > form{
  margin-top: 50px;
    margin-left: 200px;
}

.headerMoviesList > form> input{
    width: 400px;
    height: 20px;
}


.toggle > button {
    justify-content: left;
    background: white;
    padding: 5px;
}

.light {
    background: rgba(255, 235, 205, 0.24);
}

.dark {
    background: dimgray;
}
