.movie {
    width: 18%;
    margin: 0.5%;
    border: 5px outset rgba(220, 220, 220, 0.14);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie:hover{
    border: 5px outset rgba(16, 16, 16, 0.67);
}

.movie > img {
    margin: 1%;
    width: 98%;
}

.movie > i {
    font-size: 12px;
}

/*.rating{*/
/*    width: 20px;*/
/*    height: 20px;*/
/*background-image: url("star.jpg");*/
/*background: yellow;*/
/*border-radius: 50%;*/
/*}*/

.star {
    width: 70px;
}

.link {
    color: black;
    background: silver;
    border-radius: 10px;
    border: 1px solid black;
    padding: 4px;
    text-decoration: none;
    font-size: 16px;
}

.link:hover {
    color: black;
    background: white;
    border: 2px solid black;
}